
<nb-search type="rotate-layout"></nb-search>

  <div class="news-container">
    <nb-card>
          <nb-card-header class="header">

          </nb-card-header>
          <nb-card-body *ngIf="news$ | async ">
            {{ args$ | async}}
          </nb-card-body>
          <nb-card-footer>
<!--            <button nbButton status="basic" (click)="redirectToNewsPage(article.url)">Goto</button>-->
          </nb-card-footer>
        </nb-card>
        <!-- <nb-flip-card>
          <nb-card-front>
            <nb-card accent="danger">
              <nb-card-header>
                {{ article.title }}
              </nb-card-header>
              <nb-card-body class="front-card-body">
                <img style="width: auto" src="{{ article.urlToImage }}">
              </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card>
              <nb-card-body>
                {{ article.description }}
              </nb-card-body>
            </nb-card>
          </nb-card-back>
        </nb-flip-card> -->
      </div>
