
<ng-container *ngIf="isFetching$ | async; then isFetching; else newsFetched">
  <nb-list *ngFor="let article of news$ | async">
    <nb-list-item>
      <nb-card>
        <nb-card-header>
          {{ article.title }}
        </nb-card-header>
        <nb-card-body>
          <img src="{{ article.urlToImage }}">
        </nb-card-body>
      </nb-card>
    </nb-list-item>
  </nb-list>
</ng-container>

<ng-template #isFetching>
  <div>
    is Loading...
  </div>
</ng-template>

<ng-template #newsFetched>

</ng-template>
